body {
    overflow: hidden;
    margin:0px;
}

.container {
    overflow: hidden;
    position:relative;
    display: block;
    height: 100vh;
    width: 100vw;
}

canvas {
    overflow: hidden;
    position: absolute;
    display: block;
}
